# .gitignore
__pycache__
Images/
lim_s2s/
Images_retrospective/
Images_retrospective_my_T2m/*
Images_retrospective_Sam_T2m/*
Images*/*
H500/*
SF100/*
SF100/figs/*
Images_beta/
lim_s2s_retrospective/
run_code/data_clim/
run_code/data_realtime/
run_code/data_retrospective/
run_code/data_hindcast_new/
run_code/rawdata/
.DS_Store
.vscode/bookmarks.json

